* {
    box-sizing: border-box;
}

.container {
    display: flex;
    width : 1200px;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

.list {
    width : 400px;
    height: 600px;
    background-color: whitesmoke;
    border: 1 solid grey;
    margin-left: auto;
    margin-right: auto;
}

.selected 
{
    background-color: lightblue;
}


#list {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:  100px;
    margin-bottom: 30px;
    border-radius: 50px;
}

.list-container{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid grey;
}
.btn-container {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

#valid{
    border-radius: 10px;
}

.delete {
    border-radius: 10px;
}


.tache {
    width: 400px;
}

.tache-container{
    width: 300px;
    margin-left:auto;
    margin-right: auto;
    margin-top: 100px; 
    border: 1px solid black;

}


#inputTache {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:  100px;
    margin-bottom: 30px;
    border-radius: 50px;
}

.btn-tache {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}
